beautifulsoup4==4.12.3
lxml==5.2.2
requests==2.32.3
requests-html==0.10.0
selenium==4.23.1
Django==4.2.14
djangorestframework==3.15.2
djhtml==3.0.6
lxml-html-clean==0.2.0
python-dotenv==1.0.1
whitenoise==6.7.0
gunicorn==23.0.0