@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Kanit-Bold";
    src: url(../fonts/Kanit-SemiBold.ttf);
  }

  @font-face {
    font-family: "Century Gothic";
    src: url(../fonts/CenturyGothic.ttf);
  }
}

@layer components {
  svg {
    display: block;
  }
  .btn-blue {
    @apply border-blue-500 text-blue-700 hover:bg-blue-500;
  }
  .btn-purple {
    @apply border-purple-500 text-purple-700 hover:bg-purple-500;
  }
  .btn-green {
    @apply border-green-500 text-green-700 hover:bg-green-500;
  }
  .btn-red {
    @apply border-red-500 text-red-700 hover:bg-red-500;
  }
  .btn-orange {
    @apply border-orange-500 text-orange-700 hover:bg-orange-500;
  }
  .btn-yellow {
    @apply border-yellow-500 text-yellow-700 hover:bg-yellow-500;
  }
  .btn-gray {
    @apply border-gray-500 text-gray-700 hover:bg-gray-500;
  }
  .btn-cyan {
    @apply border-cyan-500 text-cyan-700 hover:bg-cyan-500;
  }
  .btn-pink {
    @apply border-pink-500 text-pink-700 hover:bg-pink-500;
  }
  .btn-teal {
    @apply border-teal-500 text-teal-700 hover:bg-teal-500;
  }
  [class*="booking-com"] p {
    @apply my-0;
  }
}
