{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheDevHunt - Find tech job listings in Europe</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>
    <meta name="description" content="Daily updated listings for software engineers and tech professionals in Europe, all aggregated in one easy-to-search platform. Discover the latest tech job openings from the most industry-leading companies.">
     <!-- Tailwind -->
    <link
      rel="stylesheet"
      href="{% static 'css/output.css' %}"
      type="text/css"
    />
    <!--htmx --> 
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.5.13/src/index.min.js"></script>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <nav
      class="fixed top-0 right-0 left-0 h-16 flex justify-between border-b-2 z-20 bg-white"
    >
      <div class="flex items-center">
        <a
          href="{% url 'job_listings' %}"
          class=" sm:text-xl font-bold text-blue-500 m-4 sm:m-6 md:ml-16"
        >The<span class="text-gray-600">Dev</span>Hunt</a
          >
        </div>
        <div class="flex shrink items-center mr-8">
          <!--<a class="text-sm sm:text-base text-gray-500 mx-2 sm:mx-6 cursor-pointer popover-trigger"> Internships </a> -->
          <a class="text-sm sm:text-base text-gray-700 mx-2 sm:mx-6 cursor-pointer" href="/listings"> Jobs </a>
          <a class="text-sm sm:text-base text-gray-700 mx-2 sm:mx-6 cursor-pointer" href="/companies"> Companies </a>
          <!-- <div class="popover absolute hidden bg-gray-600 text-xs text-white py-1 px-2 text-center rounded-lg">Coming soon</div> -->
        </div>
        </nav>
      <div class="flex justify-center min-h-screen bg-gray-100 {% block container_classes %}pt-24 md:pb-24 pb-10 lg:px-24 sm:px-4{% endblock %}">
        {% block content %}
        {% endblock content %}
      </div>
      <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    </body>
  </html>
