{% for role in categories%}
  {% cycle 'btn-purple' 'btn-green' 'btn-orange' 'btn-blue' 'btn-red' as btn_colors silent %}
  {% if role not in current_filters.role %}
    <button
      class="p-2 border rounded text-sm sm:text-base m-1 hover:text-white duration-200 {{btn_colors}}"
      hx-post= "{% url 'add_filter' %}"
      hx-trigger="click"
      hx-target="#job_list"
      hx-vals='{"role": "{{role}}"}'
    >
      {{role}}
    </button>
  {% else %}
    <button
      class="p-2 border rounded bg-slate-100 border-gray-200 text-gray-500 text-sm sm:text-base m-1 cursor-default pointer-events-none"
    >
      {{role}}
    </button>
  {% endif %}
{% endfor %}