{% for country in eu_countries %}
  <button
    class="p-2 border rounded border-gray-300 text-slate-500 m-1 hover:bg-blue-500 hover:text-white duration-200"
    hx-post= "{% url 'add_filter' %}"
    hx-trigger="click"
    hx-target="#job_list"
    hx-vals='{"country": "{{country}}"}'
  >
    {{country}}
  </button>
{% endfor %}
<div id="country_placeholder">
  {% if not show_all_countries %}
    <button
      class="p-2 border rounded border-gray-300 text-white m-1 bg-slate-500 hover:bg-blue-500 hover:text-white duration-200"
      hx-get="{% url 'show_all_countries' %}?show_all=true"
      hx-trigger="click"
      hx-target="#country_placeholder"
      hx-swap="outerHTML"
    >
      Show more
    </button>
  {% else %}
    <button
      class="p-2 border rounded border-gray-300 text-white m-1 bg-slate-500 hover:bg-blue-500 hover:text-white duration-200"
      hx-get="{% url 'show_all_countries' %}?show_all=false"
      hx-trigger="click"
      hx-target="#country_list"
    >
      Show less
    </button>
  {%endif%}
</div>
