{% extends "base.html" %} {% load static %} {% block content %}
  <div class="flex flex-col lg:min-w-[60%] max-w-[90%]">
    <div class="lg:hidden p-2">
      <button
        class="flex justify-between w-full bg-slate-200 p-2 rounded-lg box-border drop-shadow-sm font-gothic focus:bg-slate-300"
        id="show_filter_mobile"
        hx-get="{% url 'render_filters_mobile' %}?show=True"
        hx-target="#filter-mobile-container"
        hx-swap="outerHTML"
      >
        <span class="font-gothic font-bold ml-6"> Filters </span>
        <span class="mx-4"> &#9660; </span>
      </button>
    </div>

    <div id="filter-mobile-container" class="lg:hidden"></div>

    <h1 class="text-3xl bold mt-5" id="page_title">All listings</h1>
    <p class="mt-1">Last Updated: <span class=""> </span></p>
    <div class="grid grid-cols-1 gap-5 w-auto mt-12" id="job_list">
      {% include 'jobs/job_list.html' %}
    </div>
  </div>

<!--Filters -->
  <div
    class="hidden lg:flex-col lg:flex bg-white h-fit min-w-[35%] p-4 m-4 ml-12 rounded-lg shrink"
  >
    {% include 'jobs/filters.html' %}
  </div>
{% endblock %}
