{% load static%} {% load custom_filters %} {% if mobile_display %}
  <button
    class="flex justify-between w-full bg-slate-200 p-2 rounded-lg box-border drop-shadow-sm font-gothic focus:bg-slate-300"
    id="show_filter_mobile"
    hx-get="{% url 'render_filters_mobile' %}?show=False"
    hx-swap-oob="true"
    hx-target="#filter-mobile-container"
    hx-swap="outerHTML"
  >
    <span class="font-gothic font-bold ml-6"> Filters </span>
    <span class="mx-4"> &#9650; </span>
  </button>
{% endif %}

{% if mobile_display %}
  <div class="bg-white h-fit w-fit p-4 rounded-lg" id="filter-mobile-container" >
{% endif%}
<h2 class="text-lg sm:text-2xl font-bold p-2">Filters</h2>
<div
  id="current_filters"
  hx-get="{% url 'get_filters' %}"
  hx-trigger="load, filterChanged from:body"
  class="flex flex-wrap"
></div>
<p class="sm:text-xl p-2">Location</p>
<form class="flex items-center p-2">
  <input type="hidden" name="remote" value="off" />
  <input
    id="default_checkbox"
    type="checkbox"
    name="remote"
    class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 rounded-md focus:ring-blue-500 focus:ring-2 cursor-pointer"
    hx-post="{% url 'add_filter'%}"
    hx-trigger="change"
    hx-target="#job_list"
    hx-include="[name='remote']"
  />
  <label for="default_checkbox" class="ms-2 text-md text-slate-600"
  >Remote
  </label>
</form>
<div
  class="flex flex-wrap"
  id="country_list"
  hx-get="{% url 'update_countries' %}"
  hx-trigger="filterChanged from:body"
>
  {% include 'jobs/partials/country_filter_partial.html'%}
</div>

<p class="text-xl p-2 mt-2">Company</p>
<div class="flex flex-wrap">
  {% for company in companies %}
    <button
      class="flex items-center m-2 py-2 px-4 rounded-md w-fit shadow-lg ring-1 ring-black ring-opacity-5 hover:bg-slate-100"
      hx-post="{% url 'add_filter' %}"
      hx-trigger="click"
      hx-target="#job_list"
      hx-vals='{"company": "{{company.company}}"}'
    >
      <img
        src=" {% static 'logos/' %}{{company.company|lower|escape_slug}}.png"
        alt="logo"
        class="h-6 w-6"
      />
      <span class="mx-2 ml-4 text-gray-600"> {{company.company}} </span>
    </button>
  {% endfor %}
</div>

{% if mobile_display %}
  </div>
{% endif%}