{% load static %} {% load show_locations %} {% load custom_filters %}
{% for job in page_obj %}
  <div
    class="listing border-2 rounded bg-white duration-200 hover:bg-slate-100 w-full drop-shadow-md"
  >
    <a
      href="{% url 'individual_opening' job.company|lower|escape_slug job.slug|lower %}"
      class="w-full flex items-center justify-center"
      target="_blank"
    >
      <div class="flex-none w-10 h-10 mx-4 self-start mt-6 sm:mt-0 sm:self-auto">
        <img
          class="h-full w-full"
          src="{%static 'logos/'%}{{job.company|lower|escape_slug}}.png"
          alt="{{ job.company }} logo"
        />
      </div>
      <div class="flex flex-col flex-grow py-2 pr-3 my-2">
        <div class="sm:text-xl font-bold py-1 mr-14">{{ job.title }}</div>
        <div
          class="text-sm font-gothic hover:text-red-500 hover:underline shrink w-fit mb-1"
          hx-on:click="event.stopPropagation(); event.preventDefault(); document.getElementById('page_title').scrollIntoView({behavior: 'smooth'});"
          hx-post="{% url 'add_filter' %}"
          hx-trigger="click"
          hx-target="#job_list"
          hx-vals='{"company": "{{job.company}}"}'~
        >
          {{ job.company }}
        </div>
        {% if job.location|length > 0 %}
          <div class="flex items-center mb-1">
            <img
              class="h-3 w-3 mr-1"
              src="{% static 'assets/location.svg'%}"
              alt="location icon"
            />
            <div class="flex flex-wrap w-auto">
              {% if job.location|length < 4 %} {% show_locations job.location %}
              {% else %} {% show_locations job.location 0 3%}
                <div
                  hx-get="{% url 'show_locations' job.location %}"
                  hx-swap="outerHTML"
                  hx-trigger="click"
                  hx-on:click="event.stopPropagation(); event.preventDefault();"
                  class="show-more text-xs bg-red-50 text-red-500 w-auto font-gothic h-min border ring-1 ring-red-500 rounded-md py-0.5 px-1 m-1 hover:bg-red-100"
                >
                  Show more
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
        <div id="detail-container" class="flex flex-wrap my-2 gap-4">
          <div
            class="h-min bg-purple-100 ring-2 sm:ring-offset-1 px-2 py-[2px] ring-purple-400 rounded-full text-xs font-semibold stroke-orange-500 text-purple-600 hover:bg-purple-200 duration-100"
          >
            &#9679 {{job.role}}
          </div>
          <div class="flex flex-wrap gap-4">
            {% if job.technologies|length > 3 %}
              {% for tech in job.technologies|slice:":3" %}
                <div
                  class="h-min bg-blue-100 ring-2 sm:ring-offset-1 ring-blue-400 rounded-full py-[2px] px-2 text-xs text-blue-700 duration-100 cursor-default"
                >
                  {{tech}}
                </div>
              {% endfor%}
            {% else %}
              {% for tech in job.technologies %}
                <div
                  class="h-min bg-blue-100 ring-2 sm:ring-offset-1 ring-blue-400 rounded-full py-[2px] px-2 text-xs text-blue-700 duration-100 cursor-default"
                >
                  {{tech}}
                </div>
              {% endfor%}
            {% endif %}
            {% if job.remote %}
              <div
                class="h-min bg-green-100 ring-2 sm:ring-offset-1 ring-green-400 rounded-full py-[2px] px-2 text-xs text-green-700 hover:bg-green-200 duration-100"
              >
                Remote
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </a>
    {% if job.created_at%}
      <div class="hidden absolute md:block text-sm text-gray-500 top-5 right-5"> {{job.created_at|days_since_posted}} </div>
    {% endif %}
  </div>
{% empty %}
  <div class="text-center text-2xl mt-5 listing">No jobs available</div>
{% endfor %}
{% if page_obj.object_list|length > 0 %}
  <div class="pagination">
    <div class="step-links flex justify-center items-center">
      {% if page_obj.has_previous %}
        <img
          src="{% static 'assets/chevron-left-solid.svg'%}"
          class="w-4 h-4 cursor-pointer"
          hx-get="{% url 'fetch_page'%}?page={{page_obj.previous_page_number}}"
          hx-target="#job_list"
          hx-on:click="document.getElementById('page_title').scrollIntoView({behavior: 'auto'});"
        />
      {% endif %}

      <span class="current mx-2 text-md font-gothic">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
        <img
          src="{% static 'assets/chevron-right-solid.svg'%}"
          class="w-4 h-4 cursor-pointer"
          hx-get="{% url 'fetch_page'%}?page={{page_obj.next_page_number}}"
          hx-target="#job_list"
          hx-on:click="document.getElementById('page_title').scrollIntoView({behavior: 'auto'});"
        />
      {% endif %}
    </div>
  </div>
{% endif %}
