{% extends "base.html" %} {% load static %} {% block core %}
<div class="flex flex-col w-3/5">
  <h1 class="text-3xl bold mt-5">All listings</h1>
  <p class="mt-1">Last Updated: <span class=""> </span></p>
  <div class="grid grid-cols-1 gap-5 w-auto mt-12">
    {% for job in job_list %}
    <div
      class="border-2 rounded bg-white duration-200 hover:bg-slate-100 w-full drop-shadow-md"
    >
      <a
        href="{% url 'individual-opening' job.company job.slug %}"
        class="w-full flex items-center justify-center"
      >
        <div class="flex-none w-10 h-10 mx-4">
          <img
            class="h-full w-full"
            src="{% static 'logos/'%}{{job.company|lower}}.png"
            alt="{{ job.company }} logo"
          />
        </div>
        <div class="flex flex-col flex-grow py-2 pr-3 my-2">
          <div class="text-xl font-bold py-1 mb-2">{{ job.title }}</div>
          <div class="flex items-center mb-1">
            <img
              class="h-3 w-3 mr-1"
              src="{% static 'assets/location.svg'%}"
              alt="location icon"
            />
            <div class="flex flex-wrap w-auto">
              {% for location in job.location %}
              <div
                class="text-xs text-slate-500 w-auto list-image-location font-gothic border bg-sky-50 rounded-md py-0.5 px-1 m-1 hover:bg-sky-100"
              >
                {{ location }}
              </div>
              {% endfor %}
            </div>
          </div>
          <div
            class="text-sm font-gothic hover:text-red-500 hover:underline shrink w-fit"
          >
            {{ job.company }}
          </div>
          <div id="detail-container" class="flex flex-wrap mt-3 space-x-4">
            <div
              class="bg-blue-100 ring-2 ring-offset-1 ring-blue-400 rounded-md p-1 text-xs text-blue-700 hover:bg-red-200 duration-100"
            >
              {{job.role}}
            </div>
            <div class="flex flex-wrap space-x-4">
              {% for tech in job.technologies %}
              <div
                class="bg-red-100 ring-2 ring-offset-1 ring-red-400 rounded-md py-1 px-2.5 text-xs text-red-700 hover:bg-blue-200 duration-100"
              >
                {{tech}}
              </div>
              {% endfor%} {% if job.remote %}
              <div
                class="bg-green-100 ring-2 ring-offset-1 ring-green-400 rounded-md p-1 text-xs text-green-700 hover:bg-red-200 duration-100"
              >
                Remote
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
