{% extends "base.html" %} {% load static %} {% load custom_filters %} {% block content %}

  <div class="bg-white rounded-lg max-w-[95%] lg:max-w-[85%] sm:p-4 md:p-10 pb-12">
    <div class="flex justify-between flex-col md:items-start md:flex-row">
      <div class="md:w-3/4 prose max-w-none w-fit !font-sans text-sm md:text-base mr-1 order-2 px-5 md:p-0 md:mr-6 md:order-1">
        <h1 class="text-2xl sm:text-3xl font-bold inline-block w-fit mb-4">{{job.title}}</h1>
        {{job.description|clean_html}}
      </div>
      <div class="md:w-1/5 border-gray-200 self-start p-5 order-1">
        <div class="flex items-center my-2">
          <img
            class="h-4 w-4"
            src="{% static 'assets/location.svg'%}"
            alt="location icon"
          />
          <h3 class="font-bold text-xl mx-3 pb-1 font-kanit"> Locations </h3>
        </div>
        <div class="flex flex-wrap flex-col space-y-1">
          {% for location in job.location %}
            <div class="text-sm font-gothic shrink w-fit">
              {{ location }}
            </div>
          {% endfor %}
        </div>
        <div class="flex items-center my-2">
          <img
            class="h-4 w-4"
            src="{% static 'assets/building-solid.svg'%}"
            alt="building icon"
          />
          <h3 class="font-bold text-xl mx-3 pb-1 font-kanit"> Company </h3>
        </div>
        <div class="text-sm font-gothic shrink w-fit">{{ job.company }} </div>
        {% if job.technologies|length > 0 %}
          <div class="flex items-center my-2">
            <img
              class="h-4 w-4 my-2"
              src="{% static 'assets/laptop-solid.svg'%}"
              alt="laptop icon"
            />
            <h3 class="font-bold text-xl mx-3 pb-1 font-kanit"> Skills </h3>
          </div>
          <div class="flex flex-col space-y-1">
            {% for skill in job.technologies %}
              <div class="text-sm font-gothic shrink w-fit">
                {{ skill }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
        <div class="flex items-center my-2">
          <img
            class="h-4 w-4 my-2"
            src="{% static 'assets/house-solid.svg'%}"
            alt="house icon"
          />
          <h3 class="font-bold text-xl mx-3 pb-1 font-kanit"> Remote </h3>
          {% if job.remote %}
            <img
              class="h-4 w-4 my-1"
              src="{% static 'assets/check-solid.svg'%}"
              alt="check icon"
            />
          {% else %}
            <img
              class="h-4 w-4 my-1"
              src="{% static 'assets/xmark-solid.svg'%}"
              alt="x-mark icon"
            />
          {% endif %}
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <a href={{ job.link_to_apply }} target="_blank">
        <button
          class="bg-green-500 text-white px-4 py-2 rounded mt-12 hover:bg-green-400 w-32"
        >
          Apply
        </button>
      </a>
    </div>
  </div>

{% endblock content %} {% block filter %} {% endblock filter%}
