{% extends "base.html" %} {% load static %} {% block content %}

<div class="bg-white rounded-lg w-3/4 p-10 pb-12">
  <div class="flex justify-between">
    <div class="w-3/4 prose max-w-none mr-6">
      <h1 class="text-3xl font-bold mb-6">{{job.title}}</h1>
      {{job.description|safe}}
    </div>
    <div class="w-1/4 border-l-2 border-gray-200 p-5">
      TEST
    </div>
  </div>
  <div class="flex justify-center">
    <a href={{ job.link_to_apply }} target="_blank">
      <button
        class="bg-green-500 text-white px-4 py-2 rounded mt-12 hover:bg-green-400 w-32"
      >
        Apply
      </button>
    </a>
  </div>
</div>

{% endblock content %} {% block filter %} {% endblock filter%}
